[Desktop Entry]
Name=KakaoTalk
Exec=env WINEPREFIX="/root/.wine" wine C:\\\\users\\\\Public\\\\Desktop\\\\KakaoTalk.lnk
Type=Application
StartupNotify=true
Path=/home/guest/Kakao/KakaoTalk
Icon=D945_KakaoTalk.0
StartupWMClass=kakaotalk.exe
